<header class="header">
    <nav class="nav-wrapper">
        <a href="/">
            <img class="logo" src="img/logo_transparent.png" alt="Logo" width="100">
        </a>
       
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/sign-up" class="important">Sign Up</a></li>
            <li><a href="/sign-in-ui">Sign In</a></li>
        </ul>
    </nav>
</header>