<header class="header">
    <nav class="nav-wrapper">
        <a href="/">
            <img class="logo" src="img/logo_transparent.png" alt="Logo" width="100">
        </a>
       
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/lists">Lists</a></li>
            <li><a href="/account">Account</a></li>
            <li><a href="/sign-in-ui">Sign Out</a></li>
        </ul>
    </nav>
</header>