<%- include("partials/header") %>
<%-include("partials/navigation")%>
<div class="middle-wrapper">
    <img src="img/bakcground.jpeg" class="background" alt="bakcground">
    <div class="left-wrapper">
        <h1>Welcome to <strong>"To Do List" Web Software.</strong></strong></h1>
        <p>Sign Up for free Our To Do List Web Software. You can easily menage your to do list or tasks more easily and
            safely.</p>
        <button class="btn-sign-up">Sign Up for Free</button>
    </div>
    <div class="right-wrapper">
        <img src="img/desk-illustration/desk-illustration/1x/Asset 28.png" alt="desk-illustration">

    </div>
</div>
<%- include("partials/footer") %>