<%- include("partials/404-header") %> 
<%-include("partials/navigation")%>
    <h1>404 Page is not Found</h1>
    <p>pageURL: <%= pageURL %>do you want to reqest more functionalitys?. </p>
    <a href="/req-more-functionalitys" class="btn">Yes</a>
    <img src="img/404.png"> 

<%- include("partials/footer") %>